.contact{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}



.contact h1::after{
    content: '';
    width: 25%;
    height: 4px;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-left: 0;
    background-color: #DCB14A;
  }
  .contact .input-div input{
      width: 500px;
      height: 50px;
      border: none;
      background-color: lightgray;
      outline: none;
      margin-left: 250px;
      position: relative;
  }
  .contact button{
      width: 120px;
      height: 50px;
      background-color: black;
      border: none;
      color: white;
      position: relative;
      right: 60px;
      
  }
  .contact .contact-social i{
  margin-left: 20px;
  }
  .contact .contact-social i:hover{
      color: #DCB14A;
      transition: .7s;
      cursor: pointer;
  }
  .contact-twopart {
      margin-top: 100px;
  }
  .contact-twopart  span:hover{
      cursor: pointer;
      color: #DCB14A;
      transition: .7s;
  }
 .help p:hover{
    cursor: pointer;
    color: #DCB14A;
    transition: .7s;
 }
 .newsletter input{
width: 250px;
height: 40px;
border: none;
border-bottom: 1px solid gray;
margin-top: 25px;
outline: none;

 }
 .newsletter p{
     margin-left: 30px;
 }
 .newsletter p:hover{
    cursor: pointer;
    color: #DCB14A;
    transition: .7s;
 }
 .contact .contact-threepart{
     width: 90%;
     margin: auto;
 }
 .contact .contact-threepart p{
     margin-left: 20px;
 }
 .contact .contact-threepart h2{
 font-weight: bold;
 cursor: pointer;
 }
 .contact .contact-threepart .contact-social2 i{
     margin-left: 20px;
 }
 .contact .contact-threepart .contact-social2 i:hover{
    cursor: pointer;
    color: #DCB14A;
    transition: 1s; 
 }
 .contact .contact-threepart p:hover{
    cursor: pointer;
    color: #DCB14A;
    transition: .7s;
 }

