.container{
    width: 600px;
    height: 600px;
    background:linear-gradient(to right, red , yellow);
    margin: auto;
    text-align: center;
}
input{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    outline: none;
}
button{
    border: none;
    border-radius: 50%;
    outline: none;
    width: 40px;
    height: 40px;
    background-color: red;
    cursor: pointer;
}
button:hover{
    background-color: white;
    transition: .3s;
}
li{
    text-align: center;
    list-style: none;
    border: 2px solid white ;
    background-color: white;
    width: 400px;  
    height: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 20px;
    outline: none;
}
li:hover{
    background-color: lightgray;
    border: none;
}
.checked{
    text-decoration:line-through;
    background-color: lightgray;
    border: none;
}
