body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../image/office.jpg");
    background-size: cover;
    color: white;
}
.container-main{
    width: 80%;
    margin: 10%;

}
.i-box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}
.i-box .fas{
    font-size: 46px;
    transform: rotate(-45deg);
    color: yellow;
}
.col-my p{
    font-size: 18px;
}
.col-my .counter{
    font-size: 60px;
}
